@inject ThemeService themeService;
@inject AuthorizationTools AuthTools;
@inject NavigationManager uriHelper;

<header class="header">
    <div id="logo">
        <a href="/" class="logo"></a>
    </div>
    <div class="menu items-center">
        <a href="/">Domov</a>
        <a href="history">História</a>
        <a href="scenario">Scenár</a>
        <div class="separator h-6"></div>

        <AuthorizeView>
            <Authorized>
                <button @onclick="LogOut">
                    <svg fill="none" stroke="currentColor" stroke-width="1.5" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"></path>
                    </svg>
                </button>
            </Authorized>
            <NotAuthorized>
                <button @onclick="OpenModal">
                    <svg fill="currentColor" viewBox="0 0 24 24" width="24" height="24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"></path>
                    </svg>
                </button>
            </NotAuthorized>
        </AuthorizeView>

        <button @onclick="OpenFeedbackModal">
            <svg fill="currentColor" widht="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm11.378-3.917c-.89-.777-2.366-.777-3.255 0a.75.75 0 01-.988-1.129c1.454-1.272 3.776-1.272 5.23 0 1.513 1.324 1.513 3.518 0 4.842a3.75 3.75 0 01-.837.552c-.676.328-1.028.774-1.028 1.152v.75a.75.75 0 01-1.5 0v-.75c0-1.279 1.06-2.107 1.875-2.502.182-.088.351-.199.503-.331.83-.727.83-1.857 0-2.584zM12 18a.75.75 0 100-1.5.75.75 0 000 1.5z"></path>
            </svg>
        </button>

        <div class="separator h-6"></div>
        <button @onclick="ToggleDarkMode" id="darkmode-swapper">
            <svg width="18" height="21" viewBox="0 0 18 21" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.66 5.5C9.98608 5.5 11.2579 6.02678 12.1955 6.96447C13.1332 7.90215 13.66 9.17392 13.66 10.5C13.66 11.8261 13.1332 13.0979 12.1955 14.0355C11.2579 14.9732 9.98608 15.5 8.66 15.5C7.33392 15.5 6.06215 14.9732 5.12447 14.0355C4.18678 13.0979 3.66 11.8261 3.66 10.5C3.66 9.17392 4.18678 7.90215 5.12447 6.96447C6.06215 6.02678 7.33392 5.5 8.66 5.5ZM8.66 7.5C7.86435 7.5 7.10129 7.81607 6.53868 8.37868C5.97607 8.94129 5.66 9.70435 5.66 10.5C5.66 11.2956 5.97607 12.0587 6.53868 12.6213C7.10129 13.1839 7.86435 13.5 8.66 13.5C9.45565 13.5 10.2187 13.1839 10.7813 12.6213C11.3439 12.0587 11.66 11.2956 11.66 10.5C11.66 9.70435 11.3439 8.94129 10.7813 8.37868C10.2187 7.81607 9.45565 7.5 8.66 7.5ZM8.66 0.5L11.05 3.92C10.31 3.65 9.5 3.5 8.66 3.5C7.82 3.5 7.01 3.65 6.27 3.92L8.66 0.5ZM0 5.5L4.16 5.15C3.56 5.66 3.02 6.28 2.6 7C2.16 7.74 1.91 8.5 1.77 9.29L0 5.5ZM0.02 15.5L1.78 11.73C1.92 12.5 2.19 13.28 2.61 14C3.03 14.74 3.57 15.36 4.16 15.87L0.02 15.5ZM17.31 5.5L15.54 9.29C15.4 8.5 15.13 7.73 14.71 7C14.29 6.28 13.76 5.65 13.16 5.14L17.31 5.5ZM17.3 15.5L13.16 15.86C13.75 15.35 14.28 14.72 14.7 14C15.12 13.27 15.39 12.5 15.53 11.71L17.3 15.5ZM8.66 20.5L6.25 17.06C6.99 17.33 7.8 17.5 8.66 17.5C9.48 17.5 10.29 17.33 11.03 17.06L8.66 20.5Z" />
            </svg>
        </button>

        <button @onclick="() => ChangeColor(ColorTheme.Blue)" data-class="" class="circle bg-sky-500"></button>
        <button @onclick="() => ChangeColor(ColorTheme.Red)" data-class="red-theme" class="circle bg-red-500"></button>
        <button @onclick="() => ChangeColor(ColorTheme.Green)" data-class="green-theme" class="circle bg-green-500"></button>
        <button @onclick="() => ChangeColor(ColorTheme.Amber)" data-class="amber-theme" class="circle bg-amber-500"></button>
    </div>
    <div class="hidden red-theme green-theme amber-theme"></div>
</header>

@code {
    [Parameter]
    public EventCallback OnPreferencesChanged { get; set; }

    [CascadingParameter]
    public MainLayout? MainLayout { get; set; }

    [CascadingParameter]
    public IndexLayout? IndexLayout { get; set; }

    private async Task ToggleDarkMode()
    {
        await themeService.ToggleDarkMode();
        await OnPreferencesChanged.InvokeAsync();
    }

    private async Task ChangeColor(ColorTheme colorTheme)
    {
        await themeService.ToggleColorMode(colorTheme);
        await OnPreferencesChanged.InvokeAsync();
    }


    private async Task LogOut()
    {
        await AuthTools.LogoutAsync();
        StateHasChanged();
        uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
    }

    private void OpenModal()
    {
        MainLayout?.LoginModalRef?.Open();
        IndexLayout?.LoginModalRef?.Open();
    }

    private void OpenFeedbackModal()
    {
        MainLayout?.FeedbackModalRef?.Open();
        IndexLayout?.FeedbackModalRef?.Open();
    }
}