@page "/"
@layout IndexLayout

<div class="wrapper">
    <div class="jumbotron">
        <h1 class="heading">
            Dokazovanie logických formúl
            nikdy nebolo jednoduchšie.
        </h1>
        <h2 class="sub-heading">
            Online kalkulačka určená na dôkazy a konverziu formúl
            <span class="highlight">
                predikátovej
            </span>
            a
            <span class="highlight">
                výrokovej
            </span> logiky
        </h2>
    </div>
    <div class="search-wrapper">
        <div>
            <button @onclick="OpenInputModal" class="search-box">
                <!-- img -->
                <svg width="13" height="13" viewBox="0 0 13 13" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.58 10.8C12.12 10.93 11.71 11 11.35 11C10.15 11 9.33998 10.12 8.92998 8.35H8.87998C7.88998 10.26 6.49998 11.21 4.74998 11.21C3.43998 11.21 2.38998 10.72 1.59998 9.72999C0.809983 8.74 0.419983 7.5 0.419983 6C0.419983 4.25 0.869983 2.85 1.75998 1.76C2.64998 0.669995 3.85998 0.119995 5.38998 0.119995C6.20998 0.119995 6.94998 0.349995 7.58998 0.799995C8.22998 1.26 8.71998 1.89999 9.05998 2.72999H9.09998L9.80998 0.329995H12.37L10.23 5.64999C10.47 6.88999 10.72 7.74 11 8.18999C11.24 8.63999 11.58 8.87 12 8.87C12.24 8.87 12.43 8.83 12.6 8.76L12.58 10.8ZM8.31998 5.56C8.10998 4.43 7.76998 3.54999 7.30998 2.95C6.85998 2.33999 6.30998 2.04 5.67998 2.04C4.85998 2.04 4.19998 2.41 3.70998 3.14C3.21998 3.88 2.99998 4.78999 2.99998 5.85999C2.99998 6.83999 3.18998 7.65 3.61998 8.31C4.03998 8.97 4.60998 9.29 5.31998 9.29C5.91998 9.29 6.46998 9 6.95998 8.45C7.45998 7.87999 7.86998 7.05 8.19998 5.96L8.31998 5.56Z" />
                </svg>
                <!-- end img -->
                <span class="text-field">Zadajte formulu</span>
                <div>
                    <span class="font-thin">CTRL</span>
                    <span class="font-bold">K</span>
                </div>
            </button>
        </div>
        <a href="scenario" class="button max-sm:hidden">Začnite teraz</a>
    </div>

    <HistoryList ShowTitle=true></HistoryList>
</div>
@code{
    [CascadingParameter]
    public IndexLayout? IndexLayout { get; set; }

    private void OpenInputModal()
    {
        IndexLayout?.InputModalRef?.Open();
    }
}