@inject IJSRuntime JSRuntime

@if (IsHeading)
{
    <li class="side-menu-heading">@Title</li>
}
else
{
    <li class="side-menu-item" @onclick="ClickLink">
        @Title
    </li>
}

@code {

    [Parameter]
    public string Id { get; set; } = "default";

    [Parameter]
    public string Title { get; set; } = "default";

    [Parameter]
    public bool IsHeading { get; set; } = false;

    [Parameter]
    public bool SmoothScrollDisabled { get; set; } = false;

    [Parameter]
    public EventCallback Click { get; set; }

    private async Task ClickLink()
    {
        if (SmoothScrollDisabled)
        {
            if (Click.HasDelegate)
            {
                await Click.InvokeAsync();
                StateHasChanged();
            }
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("scrollToElement", Id);
        }
    }
}
